/* Universal styling */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 8px;
  background-color: #EAF4F4;
}

.debug {
  border: 1px solid red;
}

/* Header Styles */
header {
  /*
  background-image: url('../images/header-bg.jpg');
  background-position: left;
  background-repeat: norepeat;
  background-size: cover;
  */
  height: 20rem;
  background-color: #6B9080;
}

header h1 {
  padding: 1.26rem;
  text-align: center;
  font-size: 3rem;
  border: 1.25rem solid white;
  color: white;
  width: 50%;
}

header h3 {
  padding: 0.3rem;
  color: white;
  font-weight: bold;
}

.header-logo {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*
  Navigation Styling
*/
.nav-container {
  background-color: #A4C3B2;
}

nav ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  flex-basis: 100%;
}

nav ul li {
  width: 100%;
  text-align: center;
}

nav a {
  display: block;
  text-decoration: none;
  color: #EAF4F4;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0.5rem;
}

nav a:hover {
  background-color: #EAF4F4;
  color: #A4C3B2;
}

/* section styling */
.container h2 {
  text-align: center;
  padding: 1rem;
  font-size: 4rem;
  font-weight: bold;
}

.container p {
  text-align: center;
}

/* events styling */
.event {
  width: 100%;
}

.event-sidebar {
  border: 0.1rem solid #6B9080;
  border-right: 0;
  border-radius: 1rem 0 0 1rem;
  width: 2rem;
  padding: 1rem;
  background-color: #CCE3DE;
}

.event-info {
  border: 0.1rem solid #6B9080;
  border-radius: 0 1rem 1rem 0;
  padding: 0.5rem;
  width: 40rem;
  background-color: #F6FFFB;
}

.event-info p {
  padding: 1rem;
  font-size: 1rem;
  text-align: left;
}

/* gallery styling */
article img {
  height: 30rem;
  width: auto;
  border-radius: 2rem;
}

.overlay {
  position: relative;
  text-aign: center;
  color: white;
  font-weight: bold;
  font-size: 2rem;
}

.overlay-top-left{
  position: absolute;
  top: 1rem;
  left: 2rem;
}

.overlay-top-right{
  position: absolute;
  top: 1rem;
  right: 2rem;
}

.overlay-bottom-left{
  position: absolute;
  bottom: 1rem;
  left: 2rem;
}

.overlay-bottom-right{
  position: absolute;
  bottom: 1rem;
  right: 2rem;
}

.overlay-center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* membership styling */
.member-header-3 {
  width: 100%;
  text-align: center;
}

.icon {
  width: 4rem;
  height: 4rem;
}

.fees-box {
  width: 95vw;
}

.fees-title {
  text-align: center;
  padding: 2rem;
}

.member-fee-frequency {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.member-fee {
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
  padding: 4rem;
}

.join-button {
  width: 50vw;
  height: 4rem;
  border-radius: 1rem;
  background-color: #A4C3B2;
  font-weight: bold;
}

/* Our Sites Styling */
.title-heading {
  text-align: center;
  padding: 2rem;
}

.title-heading p {
  text-align: left;
}

.site-h3 {
  font-size: 2rem;
  font-weight: bold;
  padding: 2rem;
}

.title-heading h3 {
  font-size: 2rem;
  font-weight: bold;
  padding: 2rem;
}

/* Responsive layout
   Mobile and Tablet
*/
.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 1rem;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.column {
  flex-basis: 100%;
  padding: 0.5rem;
}

.center {
  justify-content: center;
  align-items: center;
}

/* Desktop breakpoint */
@media screen and (min-width: 50rem){

  /* members styling */
  .icon-box {
    align-items: center;
  }

  /* gallery styling */
  article img {
    height: 12rem;
    width: auto;
    border-radius: 2rem;
  }

  .overlay {
    font-size: 1rem;
  }

  /* Responsive layout */

  html {
    font-size: 16px;
  }

  .container {
    max-width: 70rem;
  }

  .row {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .nowrap{
      flex-wrap: nowrap;
  }

  .column {
    flex-basis: 50%;
  }

  .nav-container {
    height: 3.65rem;
  }

  nav ul {
    display: inline-flex;
    flex-direction: row;
  }

  nav ul li {
    padding: 0;
  }

  nav a {
    padding: 1rem;
  }

  .member-info {
    width: 100%;
  }

  .facility-info {
    width: 100%;
  }

  #member-benefits:nth-last-child(){
    width: 9vw;
  }
}
